In [1]:
import requests
SESSION = requests.Session()

In [2]:
url = "ftp://pi.super-computing.org/"
url = "https://assets.angio.net/pi1000000.txt"

response = SESSION.get(url)

In [3]:
pidigits = response.text
len(pidigits)

1000003

In [4]:
n = 0
n_str = str(n)
# num_count = {}
while n_str in pidigits:
    # num_count[n_str] = pidigits100000.count(n_str)
    n += 1
    n_str = str(n)
n_max = n
assert str(n_max - 1) in pidigits and str(n_max) not in pidigits

In [6]:
from tqdm import tqdm

num_count = {}
for n in tqdm(range(n_max)):
    n_str = str(n)
    num_count[n_str] = pidigits.count(n_str)
    n += 1

100%|██████████| 14523/14523 [00:17<00:00, 842.98it/s]

In [7]:
import pandas as pd
num_count = pd.Series(num_count)

In [11]:
num_count_df = num_count.to_frame().reset_index().rename(columns={"index": "digit", 0: "count"})

In [17]:
num_count_df[num_count_df['digit'].apply(lambda x: len(x) == 5)].sort_values('count', ascending=False)

       digit  count
10767  10767     24
11604  11604     22
13641  13641     22
14037  14037     21
13336  13336     21
...      ...    ...
11492  11492      2
10998  10998      2
11850  11850      2
11249  11249      2
10686  10686      1

[4523 rows x 2 columns]